.l-main-layout {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: #f3f3f3;

    &__aside {
        flex: 0 1 240px;

        display: flex;
        flex-direction: column;

        & > .nav {
            flex-grow: 1;
        }
    }

    &__content {
        flex: 0 1 100%;
        overflow-y: auto;
        max-height: 100vh;
    }
}

.l-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__left {
        flex: 0 1 320px;
        padding: 24px 12px 24px 24px;

        .input {
            width: 100%;
        }
    }

    &__right {
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 24px 24px 24px 0;
    }
}

.l-section {
    margin-bottom: 48px;
    margin-top: 24px;

    &__title {
        margin: 0px 24px 24px 24px;
    }

    &__header-left {
        float: left;
        margin-bottom: 24px;
        margin-left: 24px;
    }

    &__header-right {
        float: right;
        margin-bottom: 24px;
        margin-right: 24px;
    }
}

.l-trending-youtubers {
    padding: 0 24px;
    display: flex;
    flex-direction: row;

    &__item {
        margin-right: 24px;

        // TODO: To move to UI Lib
        .people-widget__title {
            text-align: center;
            width: 72px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.l-card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 24px;

    &__item {
        flex: 0 0 32%;
        margin-bottom: 2%;
    }

    // A placeholder to placehold missing cards in a row
    &__spacer {
        flex: 0 0 32%;
        margin-bottom: 2%;
    }
}

.margin-right-12 {
    margin-right: 12px;
}
